<div class="container">
  <hr />
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="bi bi-house-door nav-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/library">
        <i class="bi bi-book nav-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/author">
        <i class="bi bi-person-badge nav-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/book">
        <i class="bi bi-journal-text nav-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/member">
        <i class="bi bi-people nav-icon"></i>
      </a>
    </li>
  </ul>
  <hr/>
  <router-outlet></router-outlet>
</div>
